<div class="footer">
  <div class="container">
    <div class="row text-light text-center py-1 justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6">
        <h4 class="Logo">
          <img src="../../assets/logo-bw.png" alt="logo" />
          TravelAgency
        </h4>
        <h5>Save time, save money!</h5>

        <ul class="social pt-3 pl-0 mx-auto d-flex">
          <li>
            <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="" target="_blank"><i class="fab fa-github"></i></a>
          </li>
          <li>
            <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="socket text-light text-center py-2">
  <p class="my-0">
    &copy;
    <a href="/#">travel.agency.com</a>
  </p>
</div>
