<div class="section1">
  <span id="top-destinations"></span>
  <div class="row flex-column-reverse flex-sm-row">
    <div class="col-sm-6">
      <div
        id="carousel1"
        class="carousel slide"
        data-ride="carousel"
        data-interval="6500"
      >
        <div class="carousel-inner">
          <div class="carousel-item">
            <img
              src="../../assets/slideshow/europa1.jpg "
              class="w-100"
              class="h-100"
              alt=""
            />
          </div>
          <div class="carousel-item active">
            <img
              src="../../assets/slideshow/europa2.jpg"
              class="w-100"
              class="h-100"
              alt=""
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/slideshow/europa3.jpg"
              class="w-100"
              class="h-100"
              alt=""
            />
          </div>
        </div>
        <a
          href="#carousel1"
          class="carousel-control-prev"
          role="button"
          data-slide="prev"
          ><span class="fas fa-arrow-circle-left fa-2x prev-left-icon"> </span
        ></a>
        <a
          href="#carousel1"
          class="carousel-control-next"
          role="button"
          data-slide="next"
          ><span class="fas fa-arrow-circle-right fa-2x next-left"> </span
        ></a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="slideshow-description-right p-md-5">
        <h2>Europe's most visited places</h2>
        <p>
          From England and France to Italy and Germany, European countries are
          full of vibrant cities known for their museums, restaurants, nightlife
          and architecture. So, it comes as no surprise that deciding which
          spots are the best places to visit in Europe can be difficult.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- ///////////////////////////////////////Section2///////////////////////////////////// -->

<div class="section2">
  <div class="row">
    <div class="col-sm-6">
      <div class="slideshow-description-left p-md-5">
        <h2>Asia's most visited places</h2>
        <p>
          Asia is the largest continent by both size and population-a diverse,
          multicultural melting pot of some of the oldest civilizations on
          earth. There's so much to see and do in Asia, it's hard to narrow it
          down to a shortlist-it could take you months to truly explore just one
          country.
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <div
        id="carousel2"
        class="carousel slide"
        data-ride="carousel"
        data-interval="6500"
      >
        <div class="carousel-inner">
          <div class="carousel-item">
            <img
              src="../../assets/slideshow/asia1.jpg"
              class="w-100"
              class="h-100"
              alt=""
            />
          </div>
          <div class="carousel-item active">
            <img
              src="../../assets/slideshow/asia2.jpg"
              class="w-100"
              class="h-100"
              alt=""
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/slideshow/asia3.jpg"
              class="w-100"
              class="h-100"
              alt=""
            />
          </div>
        </div>
        <a
          href="#carousel2"
          class="carousel-control-prev"
          role="button"
          data-slide="prev"
          ><span class="fas fa-arrow-circle-left fa-2x prev-right"> </span
        ></a>
        <a
          href="#carousel2"
          class="carousel-control-next"
          role="button"
          data-slide="next"
          ><span class="fas fa-arrow-circle-right fa-2x next-right"> </span
        ></a>
      </div>
    </div>
  </div>
</div>

<!-- ///////////////////////////////////////Section3///////////////////////////////////// -->

<div class="section3">
  <div class="row flex-column-reverse flex-sm-row">
    <div class="col-sm-6">
      <div
        id="carousel3"
        class="carousel slide"
        data-ride="carousel"
        data-interval="6500"
      >
        <div class="carousel-inner">
          <div class="carousel-item">
            <img
              src="../../assets/slideshow/na1.jpg"
              class="w-100"
              class="h-100"
              alt=""
            />
          </div>
          <div class="carousel-item active">
            <img
              src="../../assets/slideshow/na2.jpg"
              class="w-100"
              class="h-100"
              alt=""
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/slideshow/na3.jpg"
              class="w-100"
              class="h-100"
              alt=""
            />
          </div>
        </div>
        <a
          href="#carousel3"
          class="carousel-control-prev"
          role="button"
          data-slide="prev"
          ><span class="fas fa-arrow-circle-left fa-2x prev-left-icon"> </span
        ></a>
        <a
          href="#carousel3"
          class="carousel-control-next"
          role="button"
          data-slide="next"
          ><span class="fas fa-arrow-circle-right fa-2x next-left"> </span
        ></a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="slideshow-description-right p-md-5">
        <h2>North America's most visited places</h2>
        <p>
          North America is filled with must see attractions. Hundreds of
          locations draw millions of tourists to natural landmarks, historic
          sites and exciting places. Some are old, some are new. Some are
          geological wonders. Some are manmade structures.
        </p>
      </div>
    </div>
  </div>
</div>
