<div class="container-fluid">
  <div class="row sticky-top">
    <div class="col-sm-12">
      <app-header
        [isAuthenticated]="isAuthenticated$ | async"
        [admin]="isAdmin$ | async"
      ></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 pt-4 pb-sm-5">
      <app-special-offer
        [isAuthenticated]="isAuthenticated$ | async"
        [admin]="isAdmin$ | async"
      ></app-special-offer>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-slideshow></app-slideshow>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 pt-5">
      <app-packages
        [isAuthenticated]="isAuthenticated$ | async"
        [admin]="isAdmin$ | async"
      ></app-packages>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>
